[Unit]
Description=Download wallpapers from reddit
After=network.target

[Service]
WorkingDirectory=/home/hector/personal/proyectos/reddit-wallpaper-downloader
ExecStart=/home/hector/personal/proyectos/reddit-wallpaper-downloader/env/bin/python main.py -f /home/hector/images/wallpapers -r wallpapers wallpaper WHQD_Wallpaper EarthPorn spaceporn lakeporn
ExecStop=kill -9 $MAINPID
User=hector

[Install]
WantedBy=multi-user.target
