[Unit]
Description=Download wallpapers from reddit
After=network.target

[Service]
WorkingDirectory=/home/hector/personal/proyectos/reddit-wallpaper-downloader
ExecStart=/home/hector/personal/proyectos/reddit-wallpaper-downloader/reddit-wallpaper-download -folder=/home/hector/images/wallpapers -subreddits=wallpapers,wallpaper,WHQD_Wallpaper,EarthPorn,spaceporn,lakeporn
User=hector

[Install]
WantedBy=multi-user.target
